.col-sm-offset-4.col-sm-4.col-xs-12
  %h2.text-center
    Edit #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form" }) do |f|
    = devise_error_messages!
    
    .form_group
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, class: "form-control"
    
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
      
    .form_group
      = f.label :password
        %i ()leave blank if you don't want to change it)
        %br/
      = f.password_field :password, autocomplete: "off", class: "form-control"
      
    .form_group
      = f.label :password_confirmation
        %br/
      = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
      
    .form_group
      = f.label :current_password
        %i ()we need your current password to confirm your changes)
        %br/
      = f.password_field :current_password, autocomplete: "off", class: "form-control"
      
    = f.submit "Update", class: "btn btn-primary btn-lg"
      
  %h3.text-center Cancel my account
    %p
      Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :Delete, class: "btn btn-danger btn-lg"}
    = link_to "Back", :back, class: "btn btn-primary btn-lg"