.col-sm-offset-4.col-sm-4.col-xs-12
  %h2.text-center Sign up

 = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form"}) do |f|
  = devise_error_message!

  .form-group
    = f.label :email, required: true, autofocus: true, class: "form-control"
  
  .form-group  
    = f.label :password
    - if @minimum_password_length
      = @minimum_password_length characters minimum
      %br
    = f.password_field :password, autocomplete: "off" class: "form-control"
  
  .form-group  
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
    
  = f.submit "Sign up", class: "btn btn-primary btn-lg"
  
= render "admins/shared/links"