.col-sm-offset-4.col-sm-4.col-xs-12
  %h2.text-center Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form"}) do |f|
    .form-group
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, class: "form-control"
    .form-group
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: "off", class: "form-control"
    - if devise_mapping.rememberable?
      .form-group
        = f.check_box :remember_me
        = f.label :remember_me
    = f.submit "Log in", class: "btn btn-primary btn-lg"
= render "admins/shared/links"