.container
  .col-sm-10.col-sm-offset-1.col-xs-12.blog-content
    - @posts.each do |post|
      .col-xs-12
        .text-center
          %h2= post.title
          %h6= post.created_at.strftime('%b %d, %Y')
        %div
          = raw(post.body).truncate(358)
        .text-center
          = link_to "READ MORE", post_path(post)
        - if admin_signed_in?
          = link_to "Show", post_path(post), class: "btn btn-primary"
          = link_to "Edit", edit_post_path(post), class: "btn btn-default"
          = link_to "Delete", post_path(post), class: "btn btn-danger", data: {:confirm => "Are you sure?"}, method: :delete
        %hr/