%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "#"} Scotch Blog
  #navbar-collapse.collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right
      %li= link_to 'Home', root_path
      - if admin_signed_in?
        / This block is only visible to signed in admins
        %li= link_to 'New Post', new_post_path
        %li= link_to 'My Account', edit_admin_registration_path
        %li= link_to 'Logout', destroy_admin_session_path, :method => :delete
        / The block ends here
      - else
        %li= link_to 'Login', new_admin_session_path