%html
  %head
    %title ScotchBlog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body
    = render "layouts/navigation"
    %p.notice = notice
    %p.alert = alert
    .container-fluid
      = yield